@model Car_Rental.Pages.MainPage

<h3>Your Active Reservations:</h3>
@if (Model.ActiveReservations != null && Model.ActiveReservations.Any())
{
    <ul>
        @foreach (var reservation in Model.ActiveReservations)
        {
            <li>
                Reservation for @reservation.CarModel at @reservation.Location from 
                @reservation.StartDate.ToShortDateString() to @reservation.EndDate.ToShortDateString() 
                - Status: @reservation.Status
            </li>
        }
    </ul>
}
else
{
    <p>You have no active reservations.</p>
}